.h{
    background-color: aquamarine;
    color: brown;
}
#p2{
    background-color: aquamarine;
    color: brown;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: oblique;
}